*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: italic;
}  

.photo1-rond {
    position: relative;
    width: 100%;
    border-radius: 100%;
    overflow: hidden;
  }
  
  .photo1{
    width: 350px;
    border-radius: 1800px;
  }

  h2{
    font-size: 250%;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
  }

  .photo2 {
    
    width: 300px;
  }

  .treintje{
    width: 300px;
  }

  p{
    margin-bottom: 40px;
  }
  
  .photo1 {
    top: 0;
    left: 0;
    width: 50;
  }
  
  .photo2 {
    bottom: 0;
    right: 0;
  }

  img {
    border-radius: 100%;
  }
  


article{
    padding: 40px;
}

figure{
    margin-bottom: 40px;
}

img{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    transition: 10 transform;
}

.round-btn {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
  }